.navbar{
	background:	#DAA520;
	border-radius:0px;

}

.dropdown-content{
		top:35px;
}

.nav-item:hover{
	border-bottom:1px solid black;	
}
.ff{
	font-family:Comic Sans MS;
}

.bottom_nav{
	height:auto;
	background-color:rgb(42, 42, 42);
	
}
.pro{
	height: auto;
}
.pro img{
	height: 195px;
	width: 170px;
	padding: 10px;
	transition: transform 1s;
}
.pro img:hover{
	transform:scale(1.2);
}

.price_tag h6{
	text-decoration: line-through;
}
.al_msg{
	color: red;
	font-size: 25px;
	font-weight: 800;
	text-align: center;
	animation: anim 1s;
	animation-iteration-count: infinite;
}
@keyframes anim{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
#loader{
    position: fixed;
    width: 100%;
	height: 100%;
	background-color: rgb(152, 150, 148);
   /* background:#98ff00;  */
	z-index: 999999;
	position:fixed;

}
.lds-facebook {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	left: 45%;
	top: 43%;
}
  .lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #33ff00;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
  }
  @keyframes lds-facebook {
	0% {
	  top: 8px;
	  height: 64px;
	}
	50%, 100% {
	  top: 24px;
	  height: 32px;
	}
  }
.copyright i{
    color: grey;
    /*padding-top: 50px;*/
}
.copyright {
    padding-bottom: 40px;
    font-family: initial;
    font-size: 18px;
    font-style: italic;
}
.copyright a{
    color: white;
    text-decoration: none;    
}